# JetBrains.gitignore
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

translation_result.xlsx
translation_result.csv

data/output
data/all_files_merged.csv
data/all_files_merged.xlsx

pretrained-models
fine-tuned-models

tests/files